table, th, td{
    border: 2px solid #444;
    border-collapse: collapse;
    padding: 5px 2px 5px 2px;
    width: 30%;
    height: 150px;
}
table{
    width: 100%;
 
    
}
td:hover{
    background-color: aqua;
}
th{
    background-color: rgb(148, 148, 209);
    font-size: 50px;
}
td{
    font-size: 35px;
}
.joao{
    color: rgb(14, 30, 244);
}
.camilla{
    color: pink;
}
.antonio{
    color: rgb(14, 30, 244);
}
.imagem1{
    width: 150px;
}
.imagem2{
    width: 150px;
}
.imagem3{
    width: 150px;
}